.MMM-Bluebikes table {
  width: auto !important;
}

.MMM-Bluebikes table.align-right {
  float: right;
}

.MMM-Bluebikes .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.MMM-Bluebikes .symbol-cell,
.MMM-Bluebikes .count-cell {
  padding-right: 10px;
  text-align: right;
}

.MMM-Bluebikes .name-cell {
  text-align: left;
}
