.MMM-Bluebikes .red {
  color: #cd2230;
}

.MMM-Bluebikes .blue {
  color: #0064c8;
}

.MMM-Bluebikes .orange {
  color: #ff8200;
}

.MMM-Bluebikes .green {
  color: #428608;
}

/* Move it (define the animation) */
@-moz-keyframes td {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes td {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes td {
  0%  { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
  }
}
